:root {
  --fortnite-purple: #4e00c2;
  --fortnite-blue: #007cf0;
  --fortnite-yellow: #feda00;
  --fortnite-orange: #ff3c00;
  --text-color: white;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --fortnite-pink: #ec4899;
}

body {
  background-color: #0f172a;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container{
  padding: 60px 20px;
}

.header {
  background: linear-gradient(90deg, var(--fortnite-purple), var(--fortnite-blue));
  color: var(--text-color);
  padding: 1rem 0;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
  /* font-family: 'Burbank Big Condensed', sans-serif; */
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--fortnite-yellow);
  text-shadow: 2px 2px #000;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav-link {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--fortnite-yellow);
}

.basket-count {
  position: absolute;
  top: -8px;
  right: -12px;
  background: var(--fortnite-orange);
  color: var(--text-color);
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.7rem;
  font-weight: bold;
}
